body {
  font-family: sans-serif;
  background-color: #d1c0ba;
}

.container {
  max-width: 40%;
  margin: 3% auto;
  background-color: #c4b6ac;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin: 3% 0 3% 5%;
  font-weight: bold;
}

input {
  width: 86.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5%;
}

button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #000000;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.titulo {
  font-weight: bold;
}

.delete {
  margin: 1% 0 1% 43%;
}

.card {
  background-color: white;
  border: 2px solid #c4b6ac;
  border-radius: 4px; 
  margin: auto;
  text-align: center;
  overflow: auto;
}

.cardd {
  background-color: #c4b6ac;
  max-width: 100%;
  border-radius: 4px; 
  margin: 5% 5% 5% 5%
}

.add {
  margin-left: 5%;
}

span {
  font-weight: bold;
}

#container {
  max-width: 40%;
  margin: 3% auto;
  background-color: #c4b6ac;
  padding: 20px;
}

.imagem {
border: 1px solid #ffffff;
width: 450px;
height: 290px;
margin-top: 5%;
}